body {
    background-color: #264653;
    font-weight: 300;
    color: white;
    width: 100vw;
}

.section-title {
    color: #E9C46A;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    border: 2px solid #E9C46A;
    color: #E9C46A;
    border-radius: 10px;
    font-size: 2em;
    padding: 0 6px;
    margin-bottom: 20px;
}

.icon, .icon-descr {
    display: inline-block;
}

.icon-descr {
    margin-left: 10px;
}

.icon-title, .icon-info {
    display: block;
}

.icon-title {
    font-weight: 600;
}

.my-image {
    width: 90%;
    margin: 20px auto !important;
    box-shadow: 15px 15px 0 #F4A261,
                -15px -15px 0 #E76F51;
}

.my-name {
    font-size: 2rem;
    margin-top: 20px;
}

.my-story {
    font-size: 1.2rem;
    text-indent: 20px;
    text-align: justify;
}

.cv-btn {
    background: #E76F51;
    font-size: 1.8rem;
    padding: 8px 12px;
}

.page-content {
    margin-bottom: 20px;
}

.navbar-nav {
    flex-direction: row !important;
    justify-content: space-between !important;
    text-align: center;
    margin-left: 20px;
    font-size: 2em;
}

button {
    border-style: none;
    background-color: #2A9D8F;
    color: inherit;
    outline: none !important;
}


.selected {
    color: #E9C46A;
    font-size: 1.3em !important;
}

.language > button {
    background-color: #264653;
    font-size: 0.9em;
}

.language > button:hover {
    font-weight: 600;
}

.navbar-dark {
    background-color: #2A9D8F !important;
}

.language {
    text-align: right;
    font-size: 1.2em;
}

.orange {
    color: #E9C46A;
}

@media screen and (max-width: 699px) {

}

@media only screen and (min-width: 990px) and (max-width: 1429px){
    .nav-link > button {
        padding: 0 60px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1429px){
    /* p {
        font-size: 1em;
    } */
}

@media screen and (min-width: 1430px) {
    nav {
        z-index: 5;
        position: fixed;
        top: 200px;
        left: 80px;
        width: 150px;
        height: 500px;
        font-size: 2.2em;
    }

    .navbar-nav {
        flex-direction: column !important;
        justify-content: flex-end !important;
        text-align: center;
        margin-left: 20px;
        font-size: 1.1em;
    }

    .navbar {
        align-items: flex-start !important;
    }
    
    .about-page {
        /* margin-top: -450px !important; */
        /* margin-left: 200px; */
        /* width: 88vw; */
    }

    .my-image {
        width: 60%;
    }

    .section-title {
        /* text-align: left; */
        /* margin-left: 140px;    */
    }

    /* p {
        font-size: 1.5em;
        text-align: right;
    } */

    .language {
        /* margin-right: 60px; */
        font-size: 1.2em;
    }
}